.App{
    display:block;
    background-color: red;
    height:100vh;
    padding: 10% 
}
button{
    font-size: 5rem;
    background-color: blue;
    padding: 4%;
    box-shadow: 1rem 1rem 3rem 0.2rem;
}